@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(50px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

.on {
  box-shadow: -1px 1px 0px #999, -2px 2px 0px #999, -3px 3px 0px #999,
    -4px 4px 0px #999, -5px 5px 0px #999;
}

.mylad:hover {
  box-shadow: -1px 1px 0px #999, -2px 2px 0px #999, -3px 3px 0px #999,
    -4px 4px 0px #999, -5px 5px 0px #999;
}

#editor {
  height: 100%;
  width: 100%;
  resize: none;
  background-color: transparent;
  border-width: 0px;
}

#editor:focus {
  outline: none;
}

@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  src: local("Abel Regular"), local("Abel-Regular"),
    url("./fonts/varela.woff") format("woff2");
}

@font-face {
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  src: local("Varela"), url("./fonts/varela.woff2") format("woff2"),
    url("./fonts/varela.woff") format("woff");
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/eb-garamond.woff2") format("woff2"),
    url("./fonts/eb-garamond.woff") format("woff");
}
